:root {
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
  --link: #2196f3;
  --bgp: rgba(47, 48, 58, 0.8);
  --bgp-features: #f5f4fa;
  --bgp-footer: #2f303a;
  --black-color: #000000;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}
.container2 {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
h2,
h3 {
  color: var(--main-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.invisible {
  display: none;
  /* text-indent: -9999px; */
}

/*  */
/*  */
/*  */
/* Header */
/*  */
/*  */
/*  */

.studio,
.portfolio,
.contact {
  display: block;
  /* outline: 2px solid red; */
  padding-top: 32px;
  padding-bottom: 32px;
}

.container-header {
  /* outline: 2px solid red; */
  display: flex;
  border-bottom: 1px solid #ececec;
}
.heder-address {
  margin-left: auto;
}
.header-logo {
  min-width: 153px;
  padding-top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 85px;
}
.header-logo,
.footer-logo {
  color: var(--link);
}
.logo-studio {
  color: var(--black-color);
}
.logo-studio-footer {
  color: var(--white-color);
}
.n-menu {
  display: flex;
  /* margin-right: 305px; */
}
.nav-menu {
  display: flex;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.section-nav-contact {
  display: flex;
  align-items: baseline;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.nav-menu li {
  position: relative;
}
.section-nav-contact > li:first-child {
  margin-right: 30px;
}

.nav-menu > li:not(:last-child) {
  margin-right: 50px;
}
.nav-menu-first {
  color: var(--main-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-first::after {
  position: absolute;
  bottom: 0px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link);
  /* opacity: 0; */
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-first:hover::after,
.nav-menu-first:focus::after {
  /* opacity: 1; */
  transform: scaleX(1);
}
.nav-menu-first:hover,
.nav-menu-first:focus {
  color: var(--link);
  cursor: pointer;
}

.nav-email,
.nav-tel {
  display: flex;
  min-width: 142px;

  color: var(--second-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid red; */
}
.nav-email {
  min-width: 161px;
}
.svg-nav-email {
  display: flex;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.svg-nav-tel {
  display: block;
  width: 11px;
  height: 17px;
  margin-right: 10px;
}

.nav-tel:hover,
.nav-tel:focus {
  fill: var(--link);
  color: var(--link);
  cursor: pointer;
}
.nav-email:hover,
.nav-email:focus {
  fill: var(--link);
  color: var(--link);
  cursor: pointer;
}

main {
  margin-bottom: 94px;
}
/*  */
/*  */
/*  */
/* Hero */
/*  */
/*  */
/*  */

.header-backgroup {
  margin-bottom: 98px;
}
.overlay {
  /* outline: 2px solid red; */
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, var(--bgp), var(--bgp)),
    url(../images/header-img.jpg);
  background-color: var(--second-color);
}

.content-button-text {
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--link);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: 0px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-button-text:hover,
.content-button-text:focus {
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.content-button-link {
  display: flex;
  justify-content: center;
}
.content-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  text-align: center;
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
/*  */
/*  */
/*  */
/* Features */
/*  */
/*  */
/*  */

.features {
  display: flex;
}

.features > li:not(:last-child) {
  margin-right: 30px;
}
.features h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.features p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.section-features {
  /* outline: 2px solid red; */
  margin-bottom: 94px;
}

.features div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--bgp-features);
  margin-bottom: 30px;
}

.features-link {
  display: inline-block;
  padding: 25px 100px;
  background-color: var(--bgp-features);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features-link:hover,
.features-link:focus {
  background-color: var(--link);
  cursor: pointer;
}

.features-link {
  background-color: var(--bgp-features);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features-link:hover,
.features-link:focus {
  background-color: var(--link);
  cursor: pointer;
}

/*  */
/*  */
/* What are we doing */
/*  */
/*  */

.section-work {
  /* outline: 2px solid red; */
  margin-bottom: 94px;
}
.work-desktop,
.work-mobile,
.work-design {
  display: block;
  position: relative;
  height: 294px;
}
.section-work h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.work {
  display: flex;
}
.work li {
  width: 370px;
}

.work li:not(:last-child) {
  margin-right: 30px;
}
.prof {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: var(--bgp);
}

/*  */
/*  */
/*  */
/* team */
/*  */
/*  */
/*  */
.section-team {
  width: 1600px;
  background-color: var(--bgp-features);
  margin-bottom: 94px;
}
.team {
  display: flex;
  padding-bottom: 94px;
  /* outline: 2px solid red; */
}

.team > li:not(:last-child) {
  margin-right: 30px;
}
.team > li {
  background: var(--white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.section-team h2 {
  padding-top: 94px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.team h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}
.team-john,
.team-marta,
.team-robert,
.team-martin {
  display: inline-block;
  margin-bottom: 30px;
}
/*  */
/*  */
/*  */
/* Clients */
/*  */
/*  */
/*  */

.clients {
  display: flex;
}
.clients a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients > li:not(:last-child) {
  margin-right: 30px;
}

.clients a:hover,
.clients a:focus {
  border: 1px solid var(--link);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--link);
  cursor: pointer;
}

.section-clients h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

/*  */
/*  */
/*  */
/* Footer */
/*  */
/*  */
/*  */
.section-footer {
  background-color: var(--bgp-footer);
}
.footer {
  display: flex;
  /* outline: 2px solid red; */
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.display-footer > a {
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
}
.display-footer {
  padding-bottom: 60px;
  margin-right: 63px;
}
#address > ul {
  width: 231px;
}
#address > ul > li {
  height: 21px;
}
#address li:not(:first-child) {
  margin-top: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
#address li:first-child {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.join-in > h3 {
  padding-top: 73px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.join-in {
  margin-right: 94px;
}
.mailing {
  padding-top: 72px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.goit {
  display: block;
  width: 1170px;
  padding-top: 18px;
  padding-bottom: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.mailing-content {
  display: flex;
}
.footer-input {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: var(--bgp-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 50px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: 12px;
  padding: 10px 29px;
  background-color: var(--link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
}
.footer-button > svg {
  margin-left: 10px;
}

/*  */
/*  */
/*  */
/* Second page */
/*  */
/*  */
/*  */
.head2 {
  margin-bottom: 93px;
}
.portfolio-header {
  width: 1600px;
  border-bottom: 1px solid #ececec;
}

.section-filter-all {
  margin-bottom: 34px;
}
.section-filter {
  display: flex;
  padding-left: 280px;
  min-width: 612px;
  /* outline: 2px solid red; */
}
.section-filter > li:not(:last-child) {
  margin-right: 8px;
}
.filter {
  padding: 6px 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border: 0px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: var(--link);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.main-content li {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
}
.main-content li:hover,
.main-content li:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.main-content > li:nth-child(3n) {
  margin-right: 0px;
}
.main-content > li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  /* outline: 2px solid red; */
}

.main-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 4px;
  padding-left: 24px;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.blackout > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding-left: 24px;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.images-box {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.background-hov-text {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}
.blackout:hover .background-hov-text,
.blackout:focus .background-hov-text {
  opacity: 0.8;
  transform: translateY(-297px);
  cursor: pointer;
}

.hov-text {
  display: inline-block;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  /* or 156% */
  letter-spacing: 0.03em;

  color: var(--white-color);
}
.main-content a > p {
  color: var(--second-color);
}

#address a {
  color: var(--second-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#address a:hover,
#address a:focus {
  color: var(--link);
  cursor: pointer;
}
.index {
  color: var(--white-color);
}

/*  */
/*  */
/*  */
/* social networks */
/*  */
/*  */
/*  */

.social {
  width: 238px;
  display: flex;
  padding-left: 32px;
}
.social > li {
  padding-bottom: 24px;
  display: flex;
}

.social > li:not(:last-child) {
  margin-right: 10px;
}
.social a {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social a:hover,
.social a:focus {
  color: var(--white-color);
  background-color: var(--link);
  fill: var(--white-color);
  border-radius: 50%;
  cursor: pointer;
}
/*  */
/*  */
/*  */
/* social-footer */
/*  */
/*  */
/*  */
.social-footer {
  display: flex;
}
.social-footer svg {
  margin: 12px;
}
.social-footer a {
  display: inline-flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  /* outline: 1px solid red; */
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer > li:not(:last-child) {
  margin-right: 10px;
}

.social-footer a:hover,
.social-footer a:focus {
  background-color: var(--link);
  cursor: pointer;
}
/*  */
/*  */
/*  */
/* Modal  */
/*  */
/*  */
/*  */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.modal input,
.modal label {
  position: absolute;
}
textarea {
  position: absolute;
}
.modal-p {
  padding-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal-name,
.modal-tell,
.modal-email,
.modal-comments {
  top: 93px;
  left: 50%;
  padding-left: 42px;
  transform: translateX(-50%);

  width: 448px;
  height: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-hov {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.asd:hover .modal-hov,
.asd:focus-within .modal-hov {
  color: var(--link);
  transform: translate(-26px, -34px);
}
.asd:hover .icon-person,
.asd:focus-within .icon-person {
  fill: var(--link);
}
.asd:hover .icon-phone,
.asd:focus-within .icon-phone {
  fill: var(--link);
}
.asd:hover .icon-email,
.asd:focus-within .icon-email {
  fill: var(--link);
}

.modal-tell {
  top: 161px;
}
.modal-email {
  top: 229px;
}
.modal-comments {
  top: 297px;

  width: 448px;
  height: 120px;

  padding-left: 16px;
  padding-top: 12px;
}
.modal-hov1 {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.asd1:hover .modal-hov1,
.asd1:focus-within .modal-hov1 {
  color: var(--link);
  transform: translateY(-34px);
}
.go {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 491px;

  width: 200px;
  height: 50px;

  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.svg-close {
  display: flex;
  fill: #757575;
}
.svg-close:hover {
  fill: #2196f3;
  cursor: pointer;
}
.label-name {
  top: 104px;
  left: 57px;
  z-index: 1;
}

.label-tell {
  top: 172px;
  left: 57px;
  z-index: 1;
}
.label-email {
  top: 240px;
  left: 57px;
  z-index: 1;
}
.label-comments {
  top: 309px;
  left: 57px;
  z-index: 1;
}
.icon-person,
.icon-phone,
.icon-email {
  margin-right: 8px;
}
.label-name,
.label-tell,
.label-email,
.label-comments {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-comments {
  resize: none;
}
.label-dog {
  position: absolute;
  top: 437px;
  left: 77px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}
.dog {
  top: 442px;
  left: 54px;
}
.link-dog {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}
.backdrop {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

