.features {
  display: flex;

  h3 {
    font-family: $fontRobo;
    font-style: $fontNorm;
    font-weight: $fontBold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 10px;
  }
  p {
    font-family: $fontRobo;
    font-style: $fontNorm;
    font-weight: $fontNorm;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $second-color;
  }

  & > li:not(:last-child) {
    margin-right: 30px;
  }
}

.section-features {
  margin-bottom: 94px;
}

.features-div {
  @extend %centerFlex;
  width: 270px;
  height: 120px;
  background-color: $bgp-features;
  margin-bottom: 30px;
}

.features-link {
  display: inline-block;
  padding: 25px 100px;
  background-color: $bgp-features;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $link;
    cursor: pointer;
  }
}
