.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}
.is-hidden {
  transform: scaleY(0);
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 470px) {
    top: 360px;
    width: calc(100% - 10px);
    height: 609px;
  }
  @media screen and (min-width: 471px) and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  input,
  label {
    position: absolute;
  }
  &-p {
    padding-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    @media screen and (max-width: 1199px) {
      font-size: 20px;
      line-height: 30px;
      padding-left: 40px;
      padding-right: 40px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 20px;
      line-height: 23px;
    }
    text-align: center;
    letter-spacing: 0.03em;

    color: $main-color;
  }
  &-hov {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

textarea {
  position: absolute;
}

.modal-name,
.modal-tell,
.modal-email,
.modal-comments {
  @media screen and (min-width: 1200px) {
    top: 93px;
    width: 448px;
  }
  @media screen and (max-width: 1199px) {
    top: 130px;
    width: 370px;
  }
  padding-left: 42px;
  left: 50%;
  transform: translateX(-50%);

  height: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $second-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.asdf:hover + .label-all > .modal-hov,
.asdf:focus + .label-all > .modal-hov {
  color: $link;
  transform: translate(-26px, -34px);
}
.asdf:not(:placeholder-shown) + .label-all > .modal-hov {
  color: $link;
  transform: translate(-26px, -34px);
}

.asdf:hover ~ label > svg,
.asdf:focus ~ label > svg,
.asdf:not(:placeholder-shown) ~ label > svg {
  fill: $link;
}
.modal-tell {
  @media screen and (min-width: 1200px) {
    top: 161px;
  }
  @media screen and (max-width: 1199px) {
    top: 198px;
  }
}
.modal-email {
  @media screen and (min-width: 1200px) {
    top: 229px;
  }
  @media screen and (max-width: 1199px) {
    top: 266px;
  }
}
.modal-comments {
  @media screen and (min-width: 1200px) {
    top: 297px;
    width: 448px;
  }
  @media screen and (max-width: 1199px) {
    top: 334px;
    width: 370px;
  }

  height: 120px;

  padding-left: 16px;
  padding-top: 12px;

  resize: none;
}
.modal-hov1 {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.asd1:hover + .label-comments > .modal-hov1,
.asd1:focus + .label-comments > .modal-hov1,
.asd1:not(:placeholder-shown) + .label-comments > .modal-hov1 {
  color: $link;
  transform: translateY(-34px);
}

.go {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (min-width: 1200px) {
    top: 491px;
  }
  @media screen and (max-width: 1199px) {
    top: 519px;
  }

  width: 200px;
  height: 50px;

  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: $white-color;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  background: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.svg-close {
  display: flex;
  fill: #757575;

  &:hover {
    fill: #2196f3;
    cursor: pointer;
  }
}

.label-name {
  @media screen and (min-width: 1200px) {
    top: 104px;
  }
  @media screen and (max-width: 1199px) {
    top: 142px;
  }
}

.label-tell {
  @media screen and (min-width: 1200px) {
    top: 172px;
  }
  @media screen and (max-width: 1199px) {
    top: 210px;
  }
}

.label-email {
  @media screen and (min-width: 1200px) {
    top: 240px;
  }
  @media screen and (max-width: 1199px) {
    top: 278px;
  }
}

.label-comments {
  @media screen and (min-width: 1200px) {
    top: 309px;
  }
  @media screen and (max-width: 1199px) {
    top: 346px;
  }
}

.icon-person,
.icon-phone,
.icon-email {
  margin-right: 8px;
}

.label-name,
.label-tell,
.label-email,
.label-comments {
  display: flex;
  left: 57px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $second-color;
}

.label-contract {
  position: absolute;
  @media screen and (min-width: 1200px) {
    top: 437px;
    left: 54px;
  }
  @media screen and (max-width: 1199px) {
    top: 474px;
    left: 40px;
  }

  display: flex;
  align-items: center;

  width: 423px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 14px;
  }

  letter-spacing: 0.03em;

  color: $second-color;
}

.span-link {
  padding-left: 6px;
}
.contract {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.link-contract {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 14px;
  }
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: $link;
}
/* Чек через свг */
/* .icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  fill: transparent;
}
.contract:checked + .icon-check {
  fill: #ffffff;
  background: #2196f3;
  border-radius: 2px;
  border: 0px;
} */
/*  */
/*  */
/* Чек через псевдоэлемент */
.check::before {
  display: flex;
  content: " ";
  width: 16px;
  height: 15px;
  border: 2px solid $main-color;
}
.contract:checked ~ .check::before {
  border: 0px;
  background: $link;
  background-image: url(../images/svg/check.svg);
}

.backdrop {
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal input:focus,
.modal textarea:focus,
.modal input:hover,
.modal textarea:hover {
  outline: none;
  border: 1px solid $link;
  border-radius: 4px;
}
