.join-in {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 94px;
  }

  & > h3 {
    padding-top: 60px;
    // @media screen and (max-width: 767px) {
    //   padding-top: 60px;
    // }
    @media screen and (min-width: 768px) {
      padding-top: 65px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 73px;
    }
    margin-bottom: 20px;
    font-family: $fontRobo;
    font-style: $fontNorm;
    font-weight: $fontBold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $white-color;
  }
}
