.section-mailing {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 166px;
    padding-bottom: 60px;
  }
}
.mailing {
  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 60px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 72px;
  }
  font-family: $fontRobo;
  font-style: $fontNorm;
  font-weight: $fontBold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;

  &-content {
    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}
.goit {
  display: block;
  width: 1170px;
  padding-top: 18px;
  padding-bottom: 21px;
  font-family: $fontRobo;
  font-style: $fontNorm;
  font-weight: $fontNorm;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-input {
  @media screen and (max-width: 767px) {
    max-width: 450px;
    width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-top: 20px;
  }
  height: 50px;
  padding-left: 16px;
  background-color: $bgp-footer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: $fontRobo;
  font-style: $fontNorm;
  font-weight: $fontNorm;
  font-size: 16px;
  line-height: 50px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  @media screen and (max-width: 767px) {
    justify-content: center;
    // margin-left: auto;
    // margin-right: auto;
  }
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
  width: 200px;
  height: 50px;
  margin-top: 20px;
  padding: 10px 29px;
  background-color: $link;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: $fontRobo;
  font-style: $fontNorm;
  font-weight: $fontBold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: $white-color;

  & > svg {
    margin-left: 10px;
  }
}
