.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}
.container2 {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
h2,
h3 {
  color: $main-color;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.invisible {
  display: none;
}
main {
  margin-bottom: 94px;
}
.container-header {
  /* outline: 2px solid red; */
  display: flex;
  border-bottom: 1px solid #ececec;
}
