.clients {
  @media screen and (min-width: 1200px) {
    display: flex;
    & > li:not(:last-child) {
      margin-right: 30px;
    }
  }
  @media screen and (max-width: 480px) {
    width: 480px;
    li {
      display: inline-flex;
      margin-bottom: 30px;
    }
    li:nth-child(2n + 1) {
      margin-right: 30px;
    }
    li:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  a {
    @extend %centerFlex;
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
    @media screen and (max-width: 480px) {
      width: 210px;
    }
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: #afb1b8;
    transition: $transition;

    &:hover,
    &:focus {
      border: 1px solid $link;
      box-sizing: border-box;
      border-radius: 4px;
      fill: $link;
      cursor: pointer;
    }
  }
}

.section-clients h2 {
  @media screen and (max-width: 480px) {
    padding-top: 60px;
    font-size: 28px;
    line-height: 33px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 42px;
  }
  font-family: $fontRobo;
  font-style: $fontNorm;
  font-weight: $fontBold;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
  margin-bottom: 50px;
}
