.header-backgroup {
  @media screen and (max-width: 767px) {
    &.is-open {
      display: none;
    }
  }
}
.overlay {
  @media screen and (max-width: 767px) {
    max-width: 480px;
    height: 400px;
    background-image: linear-gradient(to right, $bgp, $bgp),
      url(../images/480/header-img-tel.jpg);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, $bgp, $bgp),
      url(../images/768/header-img-tabl.jpg);
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, $bgp, $bgp),
      url(../images/header-img.jpg);
    margin-bottom: 98px;
  }
  background-color: $second-color;
}

.content-button-text {
  padding: 10px 32px;
  color: $white-color;
  background-color: $link;
  font-family: $fontRobo;
  font-style: $fontNorm;
  font-weight: $fontBold;
  font-size: 16px;
  line-height: 30px;
  border: 0px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: $transition;

  &:hover,
  &:focus {
    color: $main-color;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

.content-button-link {
  display: flex;
  justify-content: center;
}
.content-text {
  font-family: $fontRobo;
  font-style: $fontNorm;
  font-weight: $font900;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 136%;
    padding-top: 200px;
  }
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 42px;
    padding-top: 118px;
  }

  letter-spacing: 0.06em;
  text-transform: uppercase;

  text-align: center;
  color: $white-color;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
