.social {
  display: flex;
  @media screen and (min-width: 1200px) {
    padding-left: 32px;
    width: 238px;
  }
  @media screen and (max-width: 767px) {
    padding-left: 122px;
    width: 328px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  & > li {
    padding-bottom: 24px;
    display: flex;
  }
  & > li:not(:last-child) {
    margin-right: 10px;
  }
}
.social a {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: $transition;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $link;
    fill: $white-color;
    border-radius: 50%;
    cursor: pointer;
  }
}

.social-footer {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }

  svg {
    margin: 12px;
  }

  a {
    display: inline-flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: $transition;

    &:hover,
    &:focus {
      background-color: $link;
      cursor: pointer;
    }
  }

  & > li:not(:last-child) {
    margin-right: 10px;
  }
}
