.section-team {
  @media screen and (min-width: 1200px) {
    margin-bottom: 94px;
    width: 1600px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
    width: 480px;
  }

  background-color: $bgp-features;
  .div-img {
    @media screen and (max-width: 767px) {
      height: 320px;
    }
  }
  h2 {
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 42px;
      padding-top: 94px;
      margin-bottom: 50px;
    }
    @media screen and (min-width: 768px) {
      padding-top: 60px;
    }
    @media screen and (max-width: 767px) {
      font-size: 28px;
      line-height: 33px;
      padding-top: 60px;
      margin-bottom: 30px;
    }

    font-family: $fontRobo;
    font-style: $fontNorm;
    font-weight: $fontBold;

    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
  }
}
.team {
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-bottom: 94px;
    & > li:not(:last-child) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    .div-img {
      height: 260px;
      overflow: hidden;
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 767px) {
    & > li:not(:last-child) {
      margin-bottom: 30px;
    }
    .div-img {
      height: 320px;
      overflow: hidden;
      margin-bottom: 30px;
    }
  }

  & > li {
    background: $white-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 768px) {
      width: 354px;
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
    }
  }

  h3 {
    font-family: $fontRobo;
    font-style: $fontNorm;
    font-weight: $font500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
    margin-bottom: 10px;
  }

  p {
    font-family: $fontRobo;
    font-style: $fontNorm;
    font-weight: $fontNorm;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $second-color;
    margin-bottom: 16px;
  }

  &-john,
  &-marta,
  &-robert,
  &-martin {
    display: inline-block;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      width: 450px;
      height: 440px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
      // height: 440px;
    }
  }
}
